{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.12.0"},
    {erlang_python, {git, "https://github.com/benoitc/erlang-python.git", {tag, "1.2.0"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [hornbeam]}
]}.

{relx, [{release, {hornbeam, "0.1.0"},
         [hornbeam,
          sasl]},

        {mode, dev},

        {extended_start_script, true}]}.

{profiles, [
    {test, [
        {deps, [
            {hackney, "3.0.2"},
            {jsx, "3.1.0"}
        ]}
    ]}
]}.
